{{> header}}
{{> nav}}
<div class='episodes'>
                <a href='/episodes/{{this._id}}'>{{this.title}}</a></h3>
                <img class='image' src='{{this.image}}'>
                <div>
                    <h6>Summary: {{this.summary}}</h6>
                </div>
            </div>
