{{> header}}
{{> nav}}
<div class='character'>
                <a href='/portlandia/character/{{this._id}}'>{{this.name}}</a></h3>
                <img class='image' src='{{this.image}}'>
                <div class='view-votes'>
                    <h6>Summary: {{this.summary}}</h6>
                </div>
            </div>
