{{>header}}
{{> nav}}

<h1 class='heading-homepage'>Homepage</h1>
<div class='row'>
     <div class='col-sm-4'>
    <div class='card' style='width: 18rem;'>
  <img class='card-img-top' src='https://images-na.ssl-images-amazon.com/images/I/61p%2BIhUfYvL._SY445_.jpg' alt='Card image cap'>
  <div class='card-body'>
    <h5 class='card-title'>Season 1</h5>
    <p class='card-text'>Six episodes that aired in 2011.</p>
    <!-- <a href='#' class='btn btn-primary'>Go somewhere</a> -->
  </div>
</div>
</div>

 <div class='col-sm-4'>
<div class='card' style='width: 18rem;'>
<img class='card-img-top' src='https://upload.wikimedia.org/wikipedia/en/thumb/d/de/Portlandia_S2_DVD.jpg/220px-Portlandia_S2_DVD.jpg' alt='Card image cap'>
<div class='card-body'>
<h5 class='card-title'>Season 2</h5>
<p class='card-text'> 10 episodes that aired in 2012.</p>
<!-- <a href='#' class='btn btn-primary'>Go somewhere</a> -->
</div>
</div>
</div>

 <div class='col-sm-4'>
<div class='card' style='width: 18rem;'>
<img class='card-img-top' src='https://upload.wikimedia.org/wikipedia/en/thumb/e/e5/Portlandia_S3_DVD.jpg/220px-Portlandia_S3_DVD.jpg' alt='Card image cap'>
<div class='card-body'>
<h5 class='card-title'>Season 3</h5>
<p class='card-text'> 11 episodes that aired in 2013. </p>
<!-- <a href='#' class='btn btn-primary'>Go somewhere</a> -->
</div>
</div>
</div>

<div class='col-sm-4'>
<div class='card' style='width: 18rem;'>
<img class='card-img-top' src='https://www.cinema1.ca/media/catalog/product/cache/1/image/1000x/17f82f742ffe127f42dca9de82fb58b1/7/7/778854207790.jpg' alt='Card image cap'>
<div class='card-body'>
<h5 class='card-title'>Season 4</h5>
<p class='card-text'>10 episodes that aired in 2014.</p>
<!-- <a href='#' class='btn btn-primary'>Go somewhere</a> -->
</div>
</div>
</div>

<div class='col-sm-4'>
<div class='card' style='width: 18rem;'>
<img class='card-img-top' src='https://upload.wikimedia.org/wikipedia/en/thumb/f/f9/Portlandia_S5_DVD.jpg/220px-Portlandia_S5_DVD.jpg' alt='Card image cap'>
<div class='card-body'>
<h5 class='card-title'>Season 5</h5>
<p class='card-text'>10 episodes that aired in 2015.</p>
<!-- <a href='#' class='btn btn-primary'>Go somewhere</a> -->
</div>
</div>
</div>

<div class='col-sm-4'>
<div class='card' style='width: 18rem;'>
<img class='card-img-top' src='https://upload.wikimedia.org/wikipedia/en/thumb/0/0d/Portlandia_S6_DVD.jpg/220px-Portlandia_S6_DVD.jpg' alt='Card image cap'>
<div class='card-body'>
<h5 class='card-title'>Season 6</h5>
<p class='card-text'>10 episodes that aired in 2016</p>
<!-- <a href='#' class='btn btn-primary'>Go somewhere</a> -->
</div>
</div>
</div>

<div class='col-sm-4'>
<div class='card' style='width: 18rem;'>
<img class='card-img-top' src='https://illustrationwest.org/55/files/2016/10/PORTLANDIA-WRAP-POSTER_Meryl-Rowin_SIWest.jpg' alt='Card image cap'>
<div class='card-body'>
<h5 class='card-title'>Season 7</h5>
<p class='card-text'>10 episodes that aired in 2017</p>
<!-- <a href='#' class='btn btn-primary'>Go somewhere</a> -->
</div>
</div>
</div>

<div class='col-sm-4'>
<div class='card' style='width: 18rem;'>
<img class='card-img-top' src='https://images-na.ssl-images-amazon.com/images/I/811UqySpIQL._SY445_.jpg' alt='Card image cap'>
<div class='card-body'>
<h5 class='card-title'>Season 8</h5>
<p class='card-text'>10 episoded that aired in 2018</p>
<!-- <a href='#' class='btn btn-primary'>Go somewhere</a> -->
</div>
</div>
</div>

</div>
