{{> header}}
<div class='row'>

      <div style='width: 30%; margin: 25px auto;'>
          <form action='/portlandia/user/signup' method='post'>
              <div class='form-group'>
                <h1>Sign Up</h1>
                  <input class='form-control' type='text' name='username' placeholder='username'>
              </div>
              <div class='form-group'>
                  <input class='form-control' type='password' name='password' placeholder='password'>
              </div>
              <div class='form-group'>
                  <button class='btn btn-lg btn-primary btn-block'>Sign Up!</button>
              </div>
          </form>
          <a href='/'>Go Back</a>
      </div>
  </div>
